<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mqttserverip</key>
	<string>192.168.1.103</string>
	<key>mqttserverport</key>
	<string>1883</string>
	<key>mqttsubscribetopic</key>
	<string>patient</string>
	<key>mqttusername</key>
	<string></string>
	<key>mqttpassword</key>
	<string></string>
	<key>sipserverip</key>
	<string>192.168.1.10</string>
	<key>sipserverport</key>
	<string>5060</string>
	<key>sipusername</key>
	<string>104</string>
	<key>sippassword</key>
	<string>104</string>
	<key>beaconuuid</key>
	<string>7D0D9B66-0554-4CCF-A6E4-ADE12325C4F0</string>
	<key>beaconmajor</key>
	<string>123</string>
	<key>beaconminor</key>
	<string>104</string>
</dict>
</plist>
